<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>

        <RollingFile name="FILE" fileName="${sys:catalina.home}/logs/storecarcLogs.log"
                     filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/storecarcLogs-%d{MM-dd-yyyy}-%i">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %X{sessionId}--%X{guid}- %m#]%n</Pattern>
            </PatternLayout>
            <ThresholdFilter level="DEBUG"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="1000"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>

</Configuration>